.admin-main-button{
   -fx-pref-width: 150px;
   -fx-pref-height: 100px;
   -fx-background-color: none;
   -fx-text-fill: white;
   -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.5), 1, 5, 3, 3);
}
.admin-main-button:hover{
    -fx-border-color: white;
    -fx-background-color: rgba(255,255,255,0.2);
    -fx-border-width: 2px;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.2), 2, 0, 0, 0);
}

.admin-table-view{
    -fx-pref-width: 850px;
    -fx-pref-height: 650px;
    -fx-max-height: 10000px;
    -fx-max-width: 10000px;
    -fx-table-cell-border-color: #273c75;
}

.admin-table-view .table-row-cell:selected > .table-cell{
    -fx-background-color: #487eb0;
}

.admin-table-view .table-cell{
    -fx-font-size: 15px;
    -fx-font-weight: 600;
    -fx-text-fill: white;
}
.admin-table-view .column-header-background .label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: #273c75;
    -fx-alignment: center;

}


.admin-table-view .table-cell{
    -fx-alignment: center;
}

.admin-table-view .table-cell:odd{
    -fx-background-color: #8c7ae6;
}
.admin-table-view .table-cell:even{
    -fx-background-color: #9c88ff;
}
.admin-tab-view{
    -fx-tab-min-height: 50px;
    -fx-tab-min-width: 100px;
    -fx-tab-background-color: red;
}

.admin-screen{
    -fx-pref-width: 1000px;
    -fx-pref-height: 850px;
}

.admin-main-background{
    -fx-background-color: linear-gradient(to bottom right, #355C7D,#6C5B7B,#C06C84);
}

.admin-product-title{
    -fx-pref-width: 350px;
    -fx-pref-height: 50px;
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-font-size: 25px;
}
.admin-product-content-label{
    -fx-pref-width: 350px;
    -fx-pref-height: 50px;
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

.admin-product-info-container{
    -fx-background-color: linear-gradient(to bottom, #8c7ae6, #000);
}

.admin-toggle-button{
    -fx-background-color: #7f8fa6;
    -fx-text-fill: white;

}
.admin-toggle-button:selected{
    -fx-background-color: #fbc531;
}

.admin-text-area{
    -fx-text-fill: #7f8fa6;
    -fx-font-size: 15px;
    -fx-border-color: #7f8fa6;
    -fx-border-radius: 15px;
}

.admin-function-button{
    -fx-background-color: #40739e;
    -fx-pref-width: 100px;
    -fx-pref-height: 30px;
    -fx-text-fill: white;
}
.admin-nav{
    -fx-background-image: url("../../../Assets/Image/shoplogo.gif");
    -fx-background-repeat: stretch;
    -fx-background-size: 30 30;
    -fx-background-position: center center;
    -fx-pref-height: 30px;
    -fx-min-height: 0px;
    -fx-max-height: 1000px;
    -fx-pref-width: 30px;
    -fx-min-width: 0px;
    -fx-max-width: 1000px;
    -fx-border-color: white;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}


.admin-nav:hover{
    -fx-background-image: none;
    -fx-background: #40739e;
    -fx-pref-height: 160px;
    -fx-min-height: 0px;
    -fx-max-height: 1000px;
    -fx-pref-width: 100px;
    -fx-min-width: 0px;
    -fx-max-width: 1000px;
}
.admin-nav:hover > *{
     visibility: visible;
 }

.admin-nav > *{
    visibility: hidden;
    -fx-border-color: white;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.admin-choiceBox{
    -fx-background-color: #40739e;
}

.admin-choiceBox .label{
    -fx-background-color: orange;
    -fx-text-fill: black;
}
.admin-choiceBox .menu-item .label{
     -fx-background-color: #40739e;
     -fx-text-fill: white;
 }

.admin-choiceBox .menu-item:hover > .label{
    -fx-background-color: orange;
    -fx-text-fill: white;
}
.admin-choiceBox .context-menu{
    -fx-background-color: #40739e;
    -fx-text-fill: white;
    -fx-mark-fill: white;
}
.admin-choiceBox .menu-item:hover{
    -fx-background-color: orange;
    -fx-text-fill: white;
}

.admin-choiceBox .menu-item:selected{
    -fx-background-color: orange;
    -fx-text-fill: white;
}
